{{> header}}
<div class="blog-container">
    {{#each data}}
    <h1 class="blog-title"> {{this.blog_title}}</h1>
    <p class="blog-content">Content: {{this.content}}<br><hr></p>
    {{/each}}
</div>
