{{> header}}
<div class="blog-container">
    {{#each data}}
    <h1 class="blog-title"><a href="/blog/{{this.id}}"> {{this.blog_title}}</a></h1>
    <p class="blog-content">{{limitedContent this.content}} <a href="/blog/{{this.id}}">...</a><br><hr></p>
    {{/each}}
</div>
